body {
    background-image: url("images/nasa.jpeg");
}

#container {
    background-color: lightgrey;
    opacity: .4;
    width: 225px;
    height: 200pt;
    display: block;
    justify-self: center;

}
    